.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:purple;
}

.active {
  background-color: purple;
}
.navBar{
  padding: 0;
  margin: 0;
  margin-left: 35%;
}

.Menu{
  background-color: #333;
  position: fixed;
  width: 100%;
}

.my-head{
  display: flex;
  color: white;
  padding-top: 6%;
  margin-bottom: 5%;
}
.head-img{
 padding-left: 3%;
 width: 20%;
}
.head-txt{
  width: 60%;
  margin-left: 10%;
}
.main-txt{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
.quote{
  font-size: 2vw;
}
.author-link{
  margin-left: 65%;
  font-size: 1.5vw;
}
body{
  background-color: black;
}